.title{
    color: rgb(199, 168, 230);
    position: absolute;
    font-size: 40px;
    top: 12%;
    left: 48%;
}
.text{
    color: rgb(199, 168, 230);
    position: absolute;
    font-size: 15px;
    top: 40%;
    left: 58%;
    height: 200px;
    background-color:rgb(29, 0, 83);
    overflow:scroll;
    padding: 20px;
    width: 400px;
    border-radius: 20px;

}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track :horizontal{
    visibility: hidden;
    border: none;
}
::-webkit-scrollbar-track :vertical{
    border: 5px solid rgb(81, 174, 236);
    width: 30px;
}
::-webkit-scrollbar-thumb{
    background-color:rgb(127, 192, 235);
    border-radius: 10px;
    
}
::-webkit-scrollbar-corner{
    visibility: hidden;
}

